.one{
    background-color: rgb(5, 134, 16);
    height: 100px;
    width: 100px;
    position:absolute;
    top: 100px;
    left: 200px;
    z-index: 3;
}
.two{
    background-color: rgb(35, 13, 236);
    height: 100px;
    width: 100px;
    position:absolute;
    top: 150px;
    left: 250px;
    z-index: 2;
}
.three{
    background-color: orangered;
    height: 100px;
    width: 100px;
    position:absolute;
    top: 200px;
    left: 300px;
    z-index: 3;
}