.main{
    background-color: chartreuse;
    height: 800px;
    width: 750px;
    margin: auto;
    border: 4px solid black;
}
.logo{
    background-color: rgb(6, 182, 29);
    height: 150px;
    width:200px;
    float: left;
    
}
.socialmedia{
    background-color: rgb(3, 133, 240);
    height: 75px;
    
    
}
.menu{
    background-color: rgb(243, 9, 9);
    height:75px;
    
    
}
.container{
    background-color: darkmagenta;
    height: 600px;
    width: 750px;
    
}
.footer{
    background-color: blue;
    height:50px;
    width: 750px;
    
}
*{
    margin:0px;
    padding: 0px;
    text-align: center;
}
